@model BuildSecrets

@{
    ViewBag.Title = "Show build secret";
    Layout = "_Layout";
}
@if (Model.Secret1 != null)
{
    <h2>Build secret SECRET_1, saved during the build to the file "secret1.txt"</h2>
    @Html.TextArea("val", Model.Secret1, "width=600")
}
else
{
    <h2>File "secret1.txt" does not exist</h2>
} 

@if (Model.Secret2 != null)
{
    <h2>Build secret SECRET_2, saved during the build to the file "secret2.txt"</h2>
    @Html.TextArea("val", Model.Secret2, "width=600")
}
else
{
    <h2>File "secret2.txt" does not exist</h2>
} 
