@model string

@{
    ViewBag.Title = "Show build secret";
    Layout = "_Layout";
}
@if (Model != null)
{
    <h2>Build secret, saved during the build to the file "secret.txt"</h2>
    @Html.TextArea("val", Model, "width=600")
}
else
{
    <h2>File "secret.txt" does not exist</h2>
} 
